<div class="panel-group" ng-controller="restController" data-allow-multiple="true" bs-collapse>
  <div class="slide-left panel panel-primary" data-ng-init="loadSprint()">
    <div class="panel-heading">
        <i class="fa fa-plus fa-fw"></i> Sprint Titulo {{sprints.titulo}}
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="estoria in sprints.estorias">
        <div class="panel panel-success">
          <div class="panel-heading">
              <i class="fa fa-plus fa-fw"></i> {{estoria.titulo}}
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <ul class="media-list list-group">
              <li class="media list-group-item" ng-repeat="tarefa in estoria.tarefas">
                <div class="media-body col-xs-8">
                  {{tarefa.titulo}}
                </div>
                <div class="col-xs-1">
                  <i class="glyphicon glyphicon-ok"></i>
                </div>
                <div class="media-left col-xs-2">
                  <img class="media-object" src="http://placehold.it/24x24" alt="...">  
                </div>
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            <small><a bs-collapse-toggle><i class="glyphicon glyphicon-eye-open text-center"> Descrição</i></a></small>
            <div class="panel-collapse" bs-collapse-target>
              {{ estoria.descricao }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
        {{sprints.descricao}}
    </div>
  </div>
</div>