<div class="slide-left panel panel-primary" ng-hide="esconder">
    <div class="panel-heading">
        <i class="fa fa-plus fa-fw"></i> Sprint Titulo
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="slide-left panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-plus fa-fw"></i> Estoria Titulo
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a  href="" class="{{row.id}}" alt="Clique para editar" ng-click="loadRow('/projeto',row.id)">
                        Titulo da tarefa
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a  href="" class="{{row.id}}" alt="Clique para editar" ng-click="loadRow('/projeto',row.id)">
                        Titulo da tarefa
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a  href="" class="{{row.id}}" alt="Clique para editar" ng-click="loadRow('/projeto',row.id)">
                        Titulo da tarefa
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a  href="" class="{{row.id}}" alt="Clique para editar" ng-click="loadRow('/projeto',row.id)">
                        Titulo da tarefa
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
    <div class="panel-footer">Panel footer</div>
</div>