<div ng-controller="restController">
    <div id="row1" class="row">
        <div class="col-xs-6 col-md-2">
            
            <button class="btn btn-default btn-lg pull-left" style="margin-bottom: 5px" ng-click="gridView = true"><i class="glyphicon glyphicon-th-large"></i></button>
            <button class="btn btn-lg btn-default pull-left" style="margin-bottom: 5px; margin-left: 5px;" ng-click="gridView = false"><i class="glyphicon glyphicon-th-list"></i></button>
        </div>
        <div class="col-xs-6 col-md-10">
            <div class="input-group  input-group-lg">                
                <input type="text" class="form-control " placeholder="Procurar por...">
                <span class="input-group-btn">
                <button class="btn btn-default" ng-click="naoImplementado()" type="button">Go!</button>
                </span>
            </div>
        </div>

    </div>
    <div class="row">
        <div ng-init="loadAll('/sprint')"></div>

        <div ng-include src="'view/sprint/forms/sprint.html'"  class="slide-down"></div>
               
        <div ng-include src="'view/sprint/list/grid.html'"  class="slide-down" ng-show="gridView"></div>
        <div ng-include src="'view/sprint/list/list.html'" ng-hide="gridView" class="slide-top"></div>
        <div ng-include src="'view/acompanhamento/sprint/burndown.html'" ng-show="detalhesView"></div> 
        
    </div>    
</div>