<div ng-controller="restController" ng-init="initRotaControllerPHP('/tipoTarefa')">
    <div id="row1" class="row">
        <div class="col-xs-12">
            <h1 class="page-header"> Tipos de Tarefas </h1>
            <button class="btn btn-success pull-left" style="margin-bottom: 5px" ng-click="new()">Novo</button>
			<button class="btn btn-warning pull-left slide-top" style="margin-bottom: 5px; margin-left: 5px;" ng-hide="esconder" ng-click="esconder=true">Cancelar</button>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div ng-include src="'view/tipoTarefa/forms/tipoTarefa.html'"></div>
    <div ng-include="'view/tipoTarefa/list/list.html'"  onload="loadAll('/tipoTarefa')"></div>
</div>