<div class="modal fade" id="modalPapel" aria-heden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cadastro de Papel</h4>
                <div ng-include src="'view/Papel/forms/Papel.html'" class="col-xs-12" onload="esconder=false"></div>
            </div>           
            
            <div class="modal-footer">
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->