<div class="col-xs-12" >
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-info fa-fw"></i> Ultimas Sprints Cadastradas
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Opções</th>
                        <th>Título</th>
                        <th>Início</th>
                        <th>Témino</th>
                        <th>Status</th>
                        <th>Foco</th>
                        <th>Projeto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  ng-repeat="row in rows">
                        <td>
                            <div class="btn-group pull-left">
                                <a ng-init="btnView = 'btn-default'"  ng-mouseover="btnView = 'btn-success'" ng-mouseleave="btnView = 'btn-default'" href="#/sprintDetalhes/{{row.id}}" class=" {{row.id}} btn btn-xs col-xs-4 {{btnView}}">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                                <button ng-init="btnEdit = 'btn-default'" type="button" ng-mouseover="btnEdit = 'btn-warning'" ng-mouseleave="btnEdit = 'btn-default'"  ng-click="loadRow('/sprint',row.id)" class=" {{row.id}} btn btn-xs {{btnEdit}}">
                                <i class="glyphicon glyphicon-pencil"></i>
                                </button>
                                <button ng-init="btnDelete = 'btn-default'" type="button" ng-mouseover="btnDelete = 'btn-danger'" ng-mouseleave="btnDelete = 'btn-default'" ng-click="del('/sprint',row.id)" class="btn btn-xs {{btnDelete}}">
                                <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </div>
                        </td>
                        <td>{{row.titulo}}</td>
                        <td>{{row.dataInicio | date:'medium' }}</td>
                        <td>{{row.dataConclusao}}</td>
                        <td>{{row.status}}</td>
                        <td>{{row.foco}}</td>
                        <td>{{row.idProjeto}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>