<div class="panel panel-primary">
    <div class="panel-heading">
        <i class="fa fa-plus fa-fw"></i> Usuario

    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
    <form action="?p=salvarUsuario" method="POST" role="form">

    <div class="col-xs-6 col-sm-6 col-md-2">
        <label for="email" class="text-center"><h5>Email</h5></label>
        <input name="email" type="email" class="form-control" id="" placeholder="Insira seu Email">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-2">
        <label for="senha" class="text-center"><h5>Senha</h5></label>
        <input name="senha" type="password" class="form-control" id="" placeholder="Insira uma Senha">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2">
        <label for="confirmarSenha" class="text-center"><h5>Confirmar Senha</h5></label>
        <input name="confirmarSenha" type="password" class="form-control" id="" placeholder="confirmar Senha">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-2">
        <label for="nome" class="text-center"><h5>Nome</h5></label>
        <input name="nome" type="text" class="form-control" id="" placeholder="Insira seu Nome">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>