<div class="btn-group pull-right">
    <button ng-init="btnEdit = 'btn-default'" type="button" ng-mouseover="btnEdit = 'btn-warning'" ng-mouseleave="btnEdit = 'btn-default'"  ng-click="loadRow('/papel',row.id)" class=" {{row.id}} btn btn-xs {{btnEdit}}">
    <i class="glyphicon glyphicon-pencil"></i>
    </button>
    <button ng-init="btnDelete = 'btn-default'" type="button" ng-mouseover="btnDelete = 'btn-danger'" ng-mouseleave="btnDelete = 'btn-default'" ng-click="del('/papel',row.id)" class="btn btn-xs {{btnDelete}}">
    <i class="glyphicon glyphicon-trash"></i>
    </button>
</div>