<div class="slide-left panel panel-primary" ng-hide="esconder">
    <div class="panel-heading">
        <i class="fa fa-plus fa-fw"></i> Tarefa
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <form class="form">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <label class="text-center" for="id"><h5>Título</h5></label>
                <input type="text" class="form-control input-sm" ng-model="row.titulo">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <label class="text-center" for="idTipotarefa"><h5>Tipo de Tarefa</h5></label>
                <select class="form-control input-sm" ng-init="loadItemsCombo('/tipoTarefa')" data-ng-model="row.idTipoTarefa" placeholder="Tipo de Tarefa">
                <option value="0" ng-selected="true">Selecione...</option>
                <option ng-repeat="(i, o) in itemsCombo" value="{{o.id}}">{{o.titulo}}</option>                    
                </Select>                
            </div>
            
            <div class="col-xs-6 col-sm-6 col-md-2">
                <label class="text-center" for="horasEstimativa"><h5>Estimativa</h5></label>
                <input type="time" class="form-control input-sm" data-ng-model="row.horasEstimativa" placeholder="Estimativa">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2">
                <label class="text-center" for="horasEfetiva"><h5>Efetiva</h5></label>
                <input type="time" class="form-control input-sm" data-ng-model="row.horasEfetiva" placeholder="Horas Efetivas" disabled>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <label class="text-center" for="dataInicio"><h5>Início</h5></label>
                <input type="date" class="form-control input-sm" data-ng-model="row.dataInicio" placeholder="Início">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <label class="text-center" for="dataConclusao"><h5>Termino</h5></label>
                <input type="date" class="form-control input-sm" data-ng-model="row.dataConclusao" placeholder="Termino" disabled>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <label class="text-center" for="idEstoria"><h5>Estória</h5></label>
                <select class="form-control input-sm" data-ng-model="row.idEstoria" placeholder="Estória" ng-init="loadEstoriasBySprint(1)">
                    <option value="0" ng-selected="true">Selecione...</option>
                    <option ng-repeat="estoria in estorias" value="estoria.id">{{estoria.titulo}}</option>
                    
                </Select>
                
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <label class="text-center" for="idUsuarioPapelTime"><h5>Responsável</h5></label>
                <select class="form-control input-sm" data-ng-model="row.idUsuarioPapelTime" placeholder="Usuario Responsável" ng-init="loadItemsComboResponsavel('/membroTime')" >
                <option value="0" ng-selected="true">Selecione...</option>
            <option ng-repeat="(i, o) in itemsComboResponsavel" value="{{o.id}}">{{o.id}}</option>
                    
                </Select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <label class="text-center" for="status"><h5>Estatus</h5></label>
                <select class="form-control input-sm" data-ng-model="row.status" placeholder="Status">
                    <option value="1">Nova</option>
                    <option value="2">Em Execução</option>
                    <option value="3">Finalizada</option>
                    <option value="4">Cancelada</option>
                </Select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" ng-hide="true">
                <label class="text-center" for="obs"><h3>Observações</h3></label>
                <textarea  class="form-control input-sm" data-ng-model="row.obs"></textarea>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label class="text-center" for="descricao"><h3>Descrição</h3></label>
                <textarea type="text" class="form-control input-sm" data-ng-model="row.descricao" placeholder="Insira uma descrição"></textarea>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12"><br>
                    <button class="btn btn-warning pull-left" style="margin-bottom: 5px; margin-left: 5px;" ng-hide="esconder" ng-click="cancelar()">Cancelar</button>
                    <button ng-click="save('/tarefa')" class="btn btn-success pull-right">Salvar</button>
                </div>
        </form>
    </div>
</div>