<div ng-controller="restController">
    <div id="row1" class="row">
        <div class="col-xs-12">
            <h1 class="page-header"> Projetos </h1>
            <button class="btn btn-success pull-left" style="margin-bottom: 5px" ng-click="new()">Novo</button>
            <button class="btn btn-warning pull-left slide-top" style="margin-bottom: 5px; margin-left: 5px;" ng-hide="esconder" ng-click="esconder=true">Cancelar</button>
        </div>        
        <!-- /.col-lg-12 -->
    </div> 
	
	<div ng-include src="'view/projeto/forms/projeto.html'" class="col-sm-6" ng-hide="esconder"></div>
	<div ng-include src="'view/projeto/list/list.html'" onload="loadAll('/projeto')"></div>   
</div>