<div class="slide-left panel panel-primary" ng-hide="esconder">
    <div class="panel-heading">
        <i class="fa fa-plus fa-fw"></i> Estória
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <form >
            <!-- <div class="col-xs-12 col-sm-2 col-md-2">
                <label class="text-center" for="id"><h5>ID</h5></label>
                <input type="number" class="form-control input-sm" name="id" disabled>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label class="text-center" for="titulo"><h5>Titulo da Estória</h5></label>
                <input type="text"  class="form-control input-sm" ng-model="row.titulo">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <label class="text-center" for="ptsEstimados"><h5>Pontos Estimados</h5></label>
                <input type="number" class="form-control input-sm" ng-model="row.pontosEstimados" placeholder="Pontos Estimados">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <label class="text-center" for="dataInicio"><h5>Início</h5></label>
                <input type="date" class="form-control input-sm" ng-model="row.dataInicio" name="dataInicio" placeholder="Início" disabled>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <label class="text-center" for="dataConclusao"><h5>Termino</h5></label>
                <input type="date" class="form-control input-sm" ng-model="row.dataConclusao" name="dataConclusao" placeholder="Termino" disabled=>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <label class="text-center" for="Status"><h5>Estatus da Estória</h5></label>
                <select class="form-control input-sm" name="Status" ng-model="row.status" placeholder="Status">
                    <option value="1">Nova</option>
                    <option value="2">Em Execução</option>
                    <option value="3">Finalizada</option>
                    <option value="4">Cancelada</option>
                </Select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <label class="text-center" for="Status"><h5>Sprint</h5></label>
                <select class="form-control input-sm" name="Status" placeholder="Status"
                ng-init="loadItemsCombo('/sprint')" data-ng-model="row.idSprint" role="menu">
                <option value="0" ng-selected="true">Selecione...</option>
                <option ng-repeat="(i, o) in itemsCombo" value="{{o.id}}">{{o.titulo}}</option>                                
                </Select>


                
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label class="text-center" for="descricao"><h5>Descrição da Estória</h5></label>
                <textarea class="form-control input-sm" ng-model="row.descricao"></textarea> 
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12"><br>
                <button class="btn btn-warning pull-left" style="margin-bottom: 5px; margin-left: 5px;" ng-hide="esconder" ng-click="cancelar()">Cancelar</button>
                <button ng-click="save('/estoria')" class="btn btn-success pull-right">Salvar</button>
            </div>
        </form>
    </div>
</div>