<div class="slide-left panel panel-primary" ng-hide="esconder">
    <div class="panel-heading">
        <i class="fa fa-plus fa-fw"></i> Estória

    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

    <form action="?p=salvarEstoria" method="POST" role="form">
        <div class="col-xs-12 col-sm-2 col-md-2">
        <label class="text-center" for="id"><h5>ID</h5></label>
        <input type="number" class="form-control input-sm" name="id" disabled>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-10">
        <label class="text-center" for="descricao"><h5>Descrição da Estória</h5></label>
        <input type="text"  class="form-control input-sm" name="descricao">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-4">
        <label class="text-center" for="ptsEstimados"><h5>Pontos Estimados</h5></label>
        <input type="number" class="form-control input-sm" name="ptsEstimados" placeholder="Pontos Estimados">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-4">
        <label class="text-center" for="dataInicio"><h5>Início</h5></label>
        <input type="date" class="form-control input-sm" name="dataInicio" placeholder="Início" disabled>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4">
        <label class="text-center" for="dataConclusao"><h5>Termino</h5></label>
        <input type="date" class="form-control input-sm" name="dataConclusao" placeholder="Termino" disabled=>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
        <label class="text-center" for="Status"><h5>Estatus da Estória</h5></label>
        <select class="form-control input-sm" name="Status" placeholder="Status">
            <option value="1">Nova</option>
            <option value="2">Em Execução</option>
            <option value="3">Finalizada</option>
            <option value="4">Cancelada</option>
        </Select>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
        <label class="text-center" for="Status"><h5>Sprint</h5></label>
        <select class="form-control input-sm" name="Status" placeholder="Status">
            <option value="ID">Descrição Sprint</option>
            <option value="ID">Descrição Sprint</option>
            <option value="ID">Descrição Sprint</option>
        </Select>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12"><br>
        <button type="submit" class="btn btn-default">Cancelar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
</div>
</div>